{% extends "base.html" %}
{% load static %}


{% block content %}


<div class="row justify-content-center" style="margin-top: 2%;">

    <div class="col-10">

        <figure style="text-align: center;">
            <img src="{% static 'christmas.jpg'%}" width="60%">

            <figcaption style="margin-top: 2.5%;">
                <h3>Christmas meetings conducted at different places during december every year.</h3>
            </figcaption>
        </figure>

    </div>
</div>





{% endblock %}