{% extends "base.html" %}
{% load static %}


{% block content %}

<div class="row justify-content-center" style="margin-top: 2%;">

    <div class="col-10">

        <figure style="text-align: center;">
            <img src="{% static 'Family1.compressed.png'%}" width="60%">

            <figcaption style="margin-top: 2.5%;">
                <h3>In the present context, family disputes, divorces, broken families are very common. As a solution to this problem, we conduct family seminars and workshops to build healthy families on the basis of biblical principles.</h3>
            </figcaption>
        </figure>

    </div>
</div>





{% endblock %}