{% extends "base.html" %}
{% load static %}


{% block content %}

<div class="row justify-content-center" style="margin-top: 2%;">

    <div class="col-10">

        <figure style="text-align: center;">
            <img src="{% static 'literature1.JPG'%}" width="60%">

            <figcaption style="margin-top: 2.5%;">
                <h3>We involve in distributing and promoting Christian literature in vernacular language through translating books to local language and putting stalls in different book fairs and exhibitions.</h3>
            </figcaption>
        </figure>

    </div>
</div>





{% endblock %}