{% extends "base.html" %}
{% load static %}


{% block content %}

<div class="row justify-content-center" style="margin-top: 2%;">

    <div class="col-10">

        <figure style="text-align: center;">
            <img src="{% static 'ReliefWork.png'%}" width="60%">

            <figcaption style="margin-top: 2.5%;">
                <h3>We are involved in relief works during the time of natural disasters and calamities.</h3>
            </figcaption>
        </figure>

    </div>
</div>





{% endblock %}