{% extends "base.html" %}
{% load static %}


{% block content %}

<div class="row justify-content-center" style="margin-top: 2%;">

    <div class="col-10">

        <figure style="text-align: center;">
            <img src="{% static 'vbs1.JPG'%}" width="60%">

            <figcaption style="margin-top: 2.5%;">
                <h3>We have Sunday School in English and Odia with three different grades. Experienced teachers are taking classes and giving training in songs, skits, etc. During summer holidays, we conduct VBS in selected towns and villages for the moral and spiritual upliftment of the children. Resource persons trained in children’s ministry are giving leadership to this VBS program.</h3>
            </figcaption>
        </figure>

    </div>
</div>





{% endblock %}