{% extends "base.html" %}
{% load static %}


{% block content %}

<div class="row justify-content-center" style="margin-top: 2%;">

    <div class="col-10">

        <figure style="text-align: center;">
            <img src="{% static 'youth.JPG'%}" width="60%">

            <figcaption style="margin-top: 2.5%;">
                <h3>Youths are the cream and backbone of the society. Majority of our church members are students and youngsters. Through our Youth Ministry, we encourage and guide youngsters to share their concerns and help them to go more closer with God. Occasionally, we conduct Youth Seminars and Retreat for their spiritual upliftment and wholistic development.</h3>
            </figcaption>
        </figure>

    </div>
</div>






{% endblock %}