@import url(https://fonts.googleapis.com/css?family=Roboto:400,300,700);
@import url(https://fonts.googleapis.com/css?family=Oswald:400,300,700);

#menu-0 .mbr-brand__name {
  font-size: 16px;
}
#menu-0.mbr-navbar--stuck .mbr-navbar__section {
  background: #2c2c2c;
}
#menu-0 .mbr-navbar__section {
  background: #2c2c2c;
}
#menu-0 .mbr-navbar__hamburger {
  color: #ffffff;
}
#msg-box3-0 .mbr-header .mbr-header__text {
  text-align: center;
}
#msg-box3-0 .mbr-header .mbr-header__subtext {
  text-align: center;
}
#msg-box3-0 .mbr-article {
  text-align: center;
}
#msg-box3-0 .mbr-article P {
  color: #000000;
}
#msg-box1-0 .mbr-header .mbr-header__text {
  color: #fff;
  text-align: right;
}
#msg-box1-0 .mbr-article {
  color: #fff;
}
#content4-0 P {
  text-align: center;
  color: #000000;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
}
#form2-0 .mbr-header__text {
  color: #ffffff;
}
#social-buttons2-0 .mbr-header__text {
  text-align: center;
  color: #ffffff;
}
#contacts1-0 P {
  color: #000000;
}

#menu-0 .mbr-brand__name {
  font-size: 16px;
}
#menu-0.mbr-navbar--stuck .mbr-navbar__section {
  background: #2c2c2c;
}
#menu-0 .mbr-navbar__section {
  background: #2c2c2c;
}
#menu-0 .mbr-navbar__hamburger {
  color: #ffffff;
}
#content5-0 .mbr-header .mbr-header__text {
  text-align: center;
  color: #fff;
}
#content5-0 .mbr-header .mbr-header__subtext {
  text-align: center;
  color: #fff;
}
#content5-0 .mbr-article {
  color: #fff;
}
#content5-0 .mbr-article P {
  text-align: center;
}
#content1-0 BLOCKQUOTE {
  text-align: center;
  color: #000000;
}
#msg-box3-1 .mbr-header .mbr-header__text {
  text-align: center;
}
#msg-box3-1 .mbr-header .mbr-header__subtext {
  text-align: center;
}
#msg-box3-1 .mbr-article {
  text-align: center;
  color: #000000;
}
#msg-box3-2 .mbr-header .mbr-header__text {
  text-align: left;
  color: #ffffff;
}
#msg-box3-2 .mbr-header .mbr-header__subtext {
  text-align: center;
}
#msg-box3-2 .mbr-article P {
  text-align: left;
  color: #ffffff;
}
#msg-box3-2 .mbr-article {
  color: #ffffff;
}
#header3-0 H3 {
  text-align: center;
}
#header3-0 P {
  text-align: center;
  font-size: 21px;
  font-family: 'Oswald', sans-serif;
  color: #f97352;
}
#msg-box4-0 .mbr-header__text {
  color: #ffffff;
}
#msg-box4-0 .mbr-header__subtext {
  color: #ffffff;
}
#msg-box4-0 .mbr-article {
  color: #ffffff;
}
#features1-0 P {
  text-align: center;
  color: #ffffff;
}
#features1-0 .mbr-section__col .mbr-header__text {
  color: #ffffff;
}
#features1-1 P {
  text-align: center;
  color: #ffffff;
}
#features1-1 .mbr-section__col .mbr-header__text {
  color: #ffffff;
}
#form2-0 .mbr-header__text {
  color: #ffffff;
}
#contacts1-0 P {
  color: #000000;
}
#menu-0 .mbr-brand__name {
  font-size: 16px;
}
#menu-0.mbr-navbar--stuck .mbr-navbar__section {
  background: #2c2c2c;
}
#menu-0 .mbr-navbar__section {
  background: #2c2c2c;
}
#menu-0 .mbr-navbar__hamburger {
  color: #ffffff;
}
#menu-0 .mbr-brand__name {
  font-size: 16px;
}
#menu-0.mbr-navbar--stuck .mbr-navbar__section {
  background: #2c2c2c;
}
#menu-0 .mbr-navbar__section {
  background: #2c2c2c;
}
#menu-0 .mbr-navbar__hamburger {
  color: #ffffff;
}
#form2-0 .mbr-header__text {
  color: #ffffff;
}
#menu-0 .mbr-brand__name {
  font-size: 16px;
}
#menu-0.mbr-navbar--stuck .mbr-navbar__section {
  background: #2c2c2c;
}
#menu-0 .mbr-navbar__section {
  background: #2c2c2c;
}
#menu-0 .mbr-navbar__hamburger {
  color: #ffffff;
}
#form2-0 .mbr-header__text {
  color: #ffffff;
}
#menu-0 .mbr-brand__name {
  font-size: 16px;
}
#menu-0.mbr-navbar--stuck .mbr-navbar__section {
  background: #2c2c2c;
}
#menu-0 .mbr-navbar__section {
  background: #2c2c2c;
}
#menu-0 .mbr-navbar__hamburger {
  color: #ffffff;
}
#msg-box3-0 .mbr-header .mbr-header__text {
  text-align: center;
  color: #000000;
}
#msg-box3-0 .mbr-header .mbr-header__subtext {
  text-align: center;
}
#msg-box3-0 .mbr-article P {
  color: #000000;
}
#form1-0 .mbr-header__text {
  color: #ffffff;
}
#form2-0 .mbr-header__text {
  color: #ffffff;
}
#contacts1-0 P {
  color: #000000;
}
#menu-0 .mbr-brand__name {
  font-size: 16px;
}
#menu-0.mbr-navbar--stuck .mbr-navbar__section {
  background: #2c2c2c;
}
#menu-0 .mbr-navbar__section {
  background: #2c2c2c;
}
#menu-0 .mbr-navbar__hamburger {
  color: #ffffff;
}
#header3-0 H3 {
  color: #553982;
  text-align: left;
}
#content1-0 P {
  color: #000000;
}
#header3-1 H3 {
  color: #553982;
}
#content1-1 P {
  color: #000000;
}
#header3-2 H3 {
  color: #553982;
}
#content1-2 P {
  color: #000000;
}
#content1-2 DIV {
  color: #000000;
}
#menu-0 .mbr-brand__name {
  font-size: 16px;
}
#menu-0.mbr-navbar--stuck .mbr-navbar__section {
  background: #2c2c2c;
}
#menu-0 .mbr-navbar__section {
  background: #2c2c2c;
}
#menu-0 .mbr-navbar__hamburger {
  color: #ffffff;
}
#content5-0 .mbr-header .mbr-header__text {
  text-align: center;
  color: #fff;
}
#content5-0 .mbr-header .mbr-header__subtext {
  text-align: center;
  color: #fff;
}
#content5-0 .mbr-article {
  color: #fff;
}
#content5-0 .mbr-article P {
  text-align: center;
}
