{% extends 'base.html' %}
{% load static %}

{% block content %}

<div class="about-head">

    <div class="row justify-content-center">
        <h1 style="color: white; margin-top: 10%;">About IPC Tabernacle</h1>
    </div>

    <div class="row justify-content-center">

        <div class="col-5" style="text-align: center;">
            <blockquote class="quotation" style="color: white;">
                <q>Salvation is personal, but God connects people with a fellowship for their spiritual growth and maturity. </q>
            </blockquote>
        </div>


    </div>

</div>

<div class="about-body">




    <div class="content">

        <div class="row justify-content-center">
            <div class="col-4">

                <div class="row">
                    <h2>Welcome!</h2>
                </div>

                <div class="row">
                    <p>We exist as a church to love the Lord Jesus Christ and to extend His Love to others. 
                        Our goal is to glorify the name of the Lord. We are a multi-lingual spirit filled and Bible believing Church. 
                        We teach the Word of God, worship passionately and are willing to go out to proclaim the gospel of Jesus Christ.</p>
                </div>

                <div class="row">
                    <h2 style="margin-top: 10%;">Why We Exist</h2>                    
                </div>

                <div class="row">
                    <p>We exist to reach the local and migrant population in capital city Bhubaneswar
                         with the gospel of Jesus Christ and to make them His disciples through deep and sound Biblical teachings.</p>
                </div>

            </div>


            <div class="col-4">
                <img src="{% static 'preacher1.JPG'%}" style="width: 100%;">

            </div>
        </div>
        



    </div>


    <div class="statement" style="margin-top: 5%;">

        <div class="row justify-content-center">
            <div class="col-8" style="text-align: center;">
                <h2>Statement of Faith</h2>
            </div>
        </div>

        <div class="row justify-content-center" style="margin-top: 2%;">
            <div class="col-8">

                <ul>
                    <li><b>We believe</b>  the Bible to be the only infallible, authoritative Word of God. It is the final authority and foundation for all our doctrines and practices.</li>
                    <li><b>We believe</b> there is one God, eternally existent in three Persons - Father, Son, and Holy Spirit. We believe that all things were created by Him and for Him.</li>
                    <li><b>We believe</b> in the deity of the Lord Jesus Christ, in His virgin birth, in His sinless life, in His miracles, in His vicarious atoning death through His shed blood, in His bodily resurrection, in His ascension to the right hand of the Father, and in His visible personal return in power and glory.
                    </li>
                    <li><b>We believe</b> that God created human beings, male and female, in His own image. He created them sinless, equal in value, dignity and worth.
                    </li>
                    <li><b>We believe</b> that, as a result of the Fall, all people are sinners by nature and in need of a Savior, and that Jesus Christ is the one and only Savior of the world. We believe that for the salvation of lost and sinful man, regeneration by the Holy Spirit is essential. That salvation is by grace alone through faith in Him. We believe that all who call on the name of the Lord shall be saved.
                    </li>
                    <li><b>We believe</b> that those who are saved must be baptized in the name of the Father, Son, and the Holy Spirit to be identified with the death, burial, and resurrection of Jesus Christ.
                    </li>
                    <li><b>We believe</b> the Holy Spirit was sent by the Father and the Son to convict the world of sin, righteousness, and judgement. We believe in the present ministry of the Holy Spirit, by whose indwelling and power, the Christian is enabled to live an empowered life of fruitfulness according to God's calling.
                    </li>
                    <li><b>We believe</b> that all of the gifts of the Holy Spirit mentioned in Scripture are available and active in His church today.
                    </li>
                    <li><b>We believe</b> in the literal return of Jesus Christ to the earth for the consummation of God's redemptive plan.
                    </li>
                    <li><b>We believe</b> in the resurrection of both the saved and the lost, they that are saved unto the resurrection of life, and they that are lost unto the resurrection of damnation.
                    </li>
                    <li><b>We believe</b> that Christ commanded the Church to go into all the world and preach the gospel to every person, making disciples and baptizing those who believe in the name of the Father, Son, and the Holy Spirit and teaching them.
                    </li>
                    <li><b>We believe</b> there is one church, the body of Christ, consisting of men and women from every tribe, tongue, people and nation. We believe that each local congregation is an expression of that universal church. We believe in the spiritual unity of believers in our Lord Jesus Christ. We also believe in the mutual accountability of believers..
                    </li>

                </ul>

            </div>
        </div>
    </div>


    <div class="story" style="margin-top: 5%;">

        <div class="row justify-content-center">
            <h2>Our Story</h2>
        </div>

        <div class="row justify-content-center" style="margin-top: 2%;">
            <div class="col-6" style="text-align: center;">
                <p>Pr. John Mathai, originally from Kerala, India, completed his graduation from the University of Kerala, and done his theological studies from Hebron Bible College, Kumbanad and Martin Luther University, Meghalaya. Working as a missionary and a pastor in Odisha since April 1994. Involved in teaching, preaching and church planting ministries among the different people groups. Wife Ligi and have two children Joel and Joanna.</p>
            </div>
        </div>

    </div>

    <div class="team" style="margin-top: 5%;">

        <div class="row justify-content-center">
            <h2>The Spiritual Ministry Team</h2>
        </div>

        <div class="row justify-content-center">
            <h4>Ready to serve the lost, least, and last</h4>
        </div>>

        <div class="row justify-content-center" style="margin-top: 3%;">

            <div class="col-2" >

                <figure>
                    <img src="{% static 'preacher3.jpg'%}">

                    <figcaption style="text-align: center; margin-top: 1%;">Pastor John Mathai</figcaption>
                </figure>

            </div>

            <div class="col-4">
                <p style="font-size: 1vw;">
                    Pr. John Mathai, originally from Kerala, India, completed his graduation from the University of Kerala, and done his theological studies from Hebron Bible College, Kumbanad and Martin Luther University, Meghalaya. Working as a missionary and a pastor in Odisha since April 1994. Involved in teaching, preaching and church planting ministries among the different people groups. Wife Ligi and have two children Joel and Joanna.
                </p>
            </div>



        </div>

        <div class="row justify-content-center" style="margin-top: 4%;">

            <div class="col-2">
                <figure>
                    <img src="{% static 'sabar.jpg'%}" >
                    <figcaption style="text-align: center; margin-top: 1%;">Mr. Jani Sabar</figcaption>
                    <figcaption style="text-align: center; margin-top: 1%;" class="title">Mens Fellowship</figcaption>
                </figure>
            </div>

            <div class="col-2">
                <figure>
                    <img src="{% static 'mohanty.jpg'%}" >
                    <figcaption style="text-align: center; margin-top: 1%;">Mrs. Suchitra Mohanty</figcaption>
                    <figcaption style="text-align: center; margin-top: 1%;" class="title">Women's Wing</figcaption>
                </figure>
            </div>

            <div class="col-2">
                <figure>
                    <img src="{% static 'ligi.jpg'%}" >
                    <figcaption style="text-align: center; margin-top: 1%;">Mrs. Ligi John</figcaption>
                    <figcaption style="text-align: center; margin-top: 1%;" class="title">Prayer Group</figcaption>
                </figure>
            </div>
            
            <div class="col-2">
                <figure>
                    <img src="{% static 'ruth.jpg' %}" >
                    <figcaption style="text-align: center; margin-top: 1%;">Mrs. Ruth Pani</figcaption>
                    <figcaption style="text-align: center; margin-top: 1%;" class="title">Sunday School</figcaption>
                </figure>
            </div>
        
        </div>


        <div class="row justify-content-center" style="margin-top: 2%;">

            <div class="col-2">
                <figure>
                    <img src="{% static 'nayak.jpg'%}" >
                    <figcaption style="text-align: center; margin-top: 1%;">Bro. Asadas Nayak</figcaption>
                    <figcaption style="text-align: center; margin-top: 1%;" class="title">Youth Wing</figcaption>
                </figure>
            </div>

            <div class="col-2">
                <figure>
                    <img src="{% static 'arata.jpg'%}" >
                    <figcaption style="text-align: center; margin-top: 1%;">Bro. Arata</figcaption>
                    <figcaption style="text-align: center; margin-top: 1%;" class="title">Music</figcaption>
                </figure>
            </div>

            <div class="col-2">
                <figure>
                    <img src="{% static 'jonathan.jpg'%}" >
                    <figcaption style="text-align: center; margin-top: 1%;">Bro. Jonathan</figcaption>
                    <figcaption style="text-align: center; margin-top: 1%;" class="title">Music</figcaption>
                </figure>
            </div>
            
            <div class="col-2">
                <figure>
                    <img src="{% static 'bnayak.jpg'%}" >
                    <figcaption style="text-align: center; margin-top: 1%;">Bro. Biswaraj</figcaption>
                    <figcaption style="text-align: center; margin-top: 1%;" class="title">Media</figcaption>
                </figure>
            </div>
        
        </div>


    </div>

</div>

<div style="margin-top: 10%;"></div>




<style>
    .about-head{
        /* The image used */
        background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("{% static 'church.JPG'%}");
    
        /* Full height */
        height: 70%; 
    
        /* Create the parallax scrolling effect */
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
          background-size: cover;
    }

    blockquote{
        margin-top: 5%;
        font-size: 1.5vw;
    }

    h1{
        font-size: 5vw;
    }

    .about-body{
        height: 100vh;
    }

    .content{
        margin-top: 7.5%;
    }

    .content h2{
        font-size: 3vw;
    }

    .statement h2{
        font-size: 3vw;
    }

    .statement li{
        font-size: 1vw;
        margin-bottom: 1%;
    }

    .content p{
        margin-top: 1%;
    }

    .team h2{
        font-size: 3vw;
    }

    .team figure img{
        width: 15vw;
        height: 15vw;
        object-fit:cover;       
    }

    .team figcaption{
        font-size: 1vw;
    }

    .story h2{
        font-size: 3vw;
    }

    .story p{
        font-size: 1vw;
    }

</style>


<script>
    $(document).ready(function(){
        $('.nav-link.about').addClass('active');
    })
    
</script>
{% endblock %}