{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}

{% block content %}



<div class="parallax">

    <div class="title">

    <div class="row justify-content-center">
        <h1 style="color: white;">IPC Tabernacle Bhubaneswar</h1>
    </div>

    <div class="row justify-content-center">
        <h3 style="color: white; margin-top: 5%;">Spreading God's Love</h3>
    </div>

    <div class="row justify-content-center " style="margin-top: 8%;">
        <div class="col-5 btn-holder" style="justify-content: center; display: flex; text-align: center;">
            <a href="#welcome" class="bigbtn">Who Are We?</a>
        </div>

        <div class="col-5 btn-holder" style="justify-content: center; display: flex; text-align: center;">
            <a href="#visit" class="bigbtn" >Plan Your Visit</a>
        </div>

    </div>

    </div>
</div>

<div class="parallax"></div>


<div class="bigbody" style="height: 300vh; background-color: #F1FAEE;">



<div class="announcements" style="margin-bottom: 3%; background-color: #F1FAEE;">


<div class="row justify-content-center" style="margin-top: 1%; margin-bottom: 0%;  background-color: #F1FAEE;">
    
    <div class="col-10" style="text-align: center;">
        <h3 style=""><a href="https://www.facebook.com/pg/tabernaclebbsr/events/?ref=page_internal" style="color: #000000;">This week at Tabernacle</a></h3>
    </div>
</div>

<div class="row justify-content-center" style="padding-top: 3%;">

    <div class="col-3">
        <div class="card" style="width: 18rem;">
            <a>
                <img class="card-img-top" src="{% static 'online.jpg' %}" alt="online">
                <div class="bottom-left">
                    <h4>Online Service</h4>
                </div>
            </a>
        </div>
        
    </div>


    <div class="col-3">
        <div class="card" style="width: 18rem;">
            <a>
                <img class="card-img-top" src="{% static 'prayer.jpg' %}" alt="prayer">
                <div class="bottom-left">
                    <h4>Intercessory Prayer</h4>
                </div>
            </a>
        </div>
    </div>

    <div class="col-3">
        <div class="card" style="width: 18rem;">
            <a>
                <img class="card-img-top" src="{% static 'bible_study.png' %}" alt="bible_study">
                <div class="bottom-left">
                    <h4>Bible Class</h4>
                </div>
            </a>
        </div>
        
    </div>

</div>

<div class="row justify-content-center" style="padding-top: 3%;">

    <div class="col-3">
        <div class="card" style="width: 18rem;">
            <a>
                <img class="card-img-top" src="{% static 'OSMPoster.png' %}" alt="school-of-ministry">
                <div class="bottom-left">
                    <h4>School of Ministry</h4>
                </div>
            </a>
        </div>
    </div>

</div>



<!--
<header style="margin-bottom: 0%;">
    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
      <ol class="carousel-indicators" style="margin-bottom: 10%;">
        <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
      </ol>

      <div class="carousel-inner" role="listbox">

        <div class="carousel-item active" style="background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),  url({% static 'online.jpg'%})">

          <div class="carousel-caption d-md-block">
            <h2 class="display-4">Worship Service Online</a></h2>
            <p class="lead">Please join us on Zoom due to COVID. 10:30am every Sunday. Please contact: ipctabernaclebbsr@gmail.com, Ph: 9437281796</p>
          </div>

        </div>

        <div class="carousel-item" style="background-image:  linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url({% static 'prayer.jpg' %})">
          <div class="carousel-caption  d-md-block">
            <h2 class="display-4">Intercessory Prayer and Evening Devotion</a></h2>
            <p class="lead">Every Wednesday at 7 PM</p>
          </div>
        </div>

        <div class="carousel-item" style="background-image:  linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url({% static 'bible_study.png' %})">
            <div class="carousel-caption  d-md-block">
              <h2 class="display-4">Bible Class</a></h2>
              <p class="lead">Every Saturday at 10:30 AM, IST</p>
            </div>
          </div>



      </div>
      <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
          </a>
      <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
          </a>
    </div>

  </header>
-->


    </div>



    <div id="welcome" class="welcome" style="color: white;">

        <div class="row justify-content-center">
            <h2 style="margin-top: 10%;">Welcome!</h2>
        </div>

        <div class="row justify-content-center">

            <div class="col-12">
                <p style="margin-top: 2%;  text-align: center;">We exist as a church to love the Lord Jesus Christ and to extend His Love to others. Our goal is to
                    glorify the name of the Lord. We are a multi-lingual spirit filled and Bible believing Church. We teach
                    the Word of God, worship passionately and are willing to go out to proclaim the gospel of Jesus
                    Christ.</p>
            </div>

        </div>


    </div>


    <hr style="margin-top: 2%; margin-bottom: 0%;">


    <div id="exist" style="color: #F1FAEE; background-color: #3b6196; padding-top: 2%; padding-bottom: 2%;">

        <div class="row justify-content-center">
            <h2>Why Do we Exist?</h2>
        </div>

        <div class="row justify-content-center">

            <div class="col-12">
                <p style="margin-top: 0%; text-align: center;">We exist to reach the local and migrant population in capital city Bhubaneswar with the gospel of
                    Jesus Christ and to make them His disciples through deep and sound Biblical teachings.</p>
            </div>

        </div>


    </div>


    <hr style="margin-top: 0%; margin-bottom: 2%;">
    <!--


    <div class="week" style="margin-bottom: 10%;">
        <div class="row justify-content-center">
            <h2>This week at Tabernacle</h2>
        </div>

        <div class="row justify-content-center" style="margin-top: 4%;">

            <div class="col-3" style="background-color: gray; height: 30vh; margin-right: 1vw;">

            </div>

            <div class="col-3" style="background-color: gray; height: 30vh; margin-right: 1vw;">
          
            </div>

            <div class="col-3" style="background-color: gray; height: 30vh;">
    
            </div>

        </div>

        <div class="row justify-content-center">

            <div class="col-3" style="margin-right: 1vw;">
                <hr>
                <h3><a href="#">Worship Service Online</a></h3>
            </div>

            <div class="col-3" style="margin-right: 1vw;">
                <hr>
                <h3><a href="#">Intercessory Prayer and Evening Devotion</a></h3>
            </div>

            <div class="col-3">
                <hr>
                <h3><a href="#">Bible Class</a></h3>
            </div>

        </div>

    </div> -->






    

    <div id="mission" style="color: #F1FAEE; margin-bottom: 5%; background-color: #F1FAEE;">

        <div class="events" style="height: 30%;">

        
        
        <div class="row justify-content-center">
            <h2 style="margin-top: 15%;">Mission</h2>
        </div>


        <div class="row justify-content-center">

            <div class="col-12" style="text-align: center; margin-top: 2.5%;">
                <p style="">We recognize that Mission is not an option, but rather the very lifeblood of the church activities. We
                    focus and partner in coastal districts of Odisha. Our motto is “Win the winnable, when they are
                    winnable”.</p>
            </div>

        </div>

        <div class="row justify-content-center" style="margin-top: 2%;">
            <div class="col-5" style="justify-content: center; display: flex; text-align: center;">
                <a href="{% url 'missions_page' %}" class="bigbtn">See our Missions</a>
            </div>
        </div>



        </div>
        
    </div>


<div id="sign-up" style="margin-bottom: 2%; margin-top: -3%; background-color: #3b6196; padding: 3%; color: #F1FAEE;">

    <div class="row justify-content-center">

        <div class="col-10" style="text-align: center;">

        <h2>We would like to hear from you!</h2>            

        </div>

        </div>


        <div class="row justify-content-center" style="margin-top: 2%;">
            <div class="col-5" style="text-align: center;">
                <form method="POST">
    
                    {{ form | crispy}}
            
                    {% csrf_token %}
            
                    <script src='https://www.google.com/recaptcha/api.js'></script>
            
                    <p style="margin-top: 5%;">
                        <input style="background-color: #F1FAEE; color: #3b6196;" type="submit" class="g-recaptca" data-sitekey="6Lc8TbkZAAAAACcjx2Lbc0P6nH9TjRNheEYovwl2" data-callback="onSubmit" data-action="submit" value="Sign up!">
                    </p>
            
                </form>
            </div>
        </div>


</div>





<script>
    function onSubmit(token) {
      document.getElementById("demo-form").submit();
    }
  </script>


<div id="visit" style="margin-bottom: 0; background-color: #1D3557; color: #F1FAEE; padding: 1.5%;">

    <div class="row justify-content-center">
        <h2>Plan Your Visit!</h2>
    </div>


    <div class="row info-visit" style="margin-top: 3%;">
        <div class="col-2"></div>
        <div class="col-5">
            <a href="https://www.google.com/maps/place/Biju+Patnaik+Energy+Park/@
            20.2543314,85.7800122,16.5z/data=!4m5!3m4!1s0x3a19a7c02f36d9a7:0x2c4ece4d8891
            5910!8m2!3d20.25396!4d85.783839" target="blank"><img src="{% static 'map.png' %}" style="width: 100%; height: auto;"></a>
        </div>
        
        <div style="height: 100%; background-color: #3b6196; padding: 2.5%; padding-top: 4%; padding-bottom: 4%; border-radius: 30px; margin-left: -250px; z-index: 100;">

            <div class="row" id="timecard">

                <div>
                    
                    <div class="row" style="margin-top: 0%;">
                        <div class="col-12">
                            <h5 >Sunday Services at 10: 30 AM</h5>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-12">
                        <p style="margin-left: .5vw; ">Biju Pattnaik Energy Park Auditorium</p>
                    </div>
                    </div>

                    <div class="row">
                        <div class="col-12">
                        <p style="margin-left: .5vw; ">Kholathia, near Khandagiri</p>
                    </div>
                    </div>


                    <div class="row" style="margin-top: 6%;">
                        <div class="col-12">
                            <h5 >Pastor John Mathai</h5>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-12">
                        <p style=" margin-left: .5vw; ">Phone: 9437281796</p>
                    </div>
                    </div>

                    <div class="row">
                        <div class="col-12">
                        <p style=" margin-left: .5vw; ">email: johnmathaiorissa@gmail.com</p>
                        </div>
                    </div>

                </div>

            </div>





        </div>

    </div>


    <div class="connected-mobile">

        <div class="row justify-content-center">
            <h3>Stay Connected</h3>
        </div>

        <div class="row justify-content-center" style=" margin-top: 2%;">
            <a href="https://www.facebook.com/IPC-Tabernacle-108484204294375/?ti=as" class="fa fa-facebook" style="text-decoration: none; background-color: #A8DADC;"></a>
            <a href="https://instagram.com/ipctabernaclebbsr?igshid=nq5lff94gbob" class="fa fa-instagram" style="text-decoration: none; background-color: #A8DADC;"></a>
            <a href="https://www.youtube.com/channel/UC7uhiiJs51766gjWzLnBBNQ" class="fa fa-youtube" style="text-decoration: none; background-color: #A8DADC;"></a>
        </div>

    </div>



</div>




</div>





    <style>


.parallax {
      /* The image used */
      background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("{% static 'church.JPG'%}");
    
      /* Full height */
      height: 50%; 
    
      /* Create the parallax scrolling effect */
      background-attachment: fixed;
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;


    }


    .events{
    /* The image used */
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("{% static 'eve.jpg'%}");
    
    /* Full height */
    height: 50%; 
  
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; 
    background-color: #457B9D;

    }


    .welcome{
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("{% static 'seekers1.JPG'%}");
    
    /* Full height */
    height: 25%; 
  
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; 
    }


    #sign-up form input[type="text"]{
        font-size: 2vw;
        border-radius: 20px;

    }

    #sign-up form input[type="email"]{
        font-size: 2vw;
        border-radius: 20px;
    }

    #sign-up form input[type="submit"]{
        font-size: 2vw;
        padding: 2%;
        border-radius: 20px;
    }


    #timecard{
        font-size: 5vw;
    }


    .card-img-top {
        width: 100%;
        height: 300px;
        object-fit: cover;
        position: relative;
        text-align: center;
        color: white;
    }

    .bottom-left {
        position: absolute;
        bottom: 20px;
        left: 20px;
        color: white;
    }


    </style>

<link rel="stylesheet" href="{% static 'styles/home_reg.css' %}">
<link rel="stylesheet" href="{% static 'styles/home_small.css' %}">

<script>
    $(document).ready(function(){
        $('.nav-link.home').addClass('active');
    })
    
</script>

{% endblock %}