{% extends 'base.html' %}
{% load static %}

{% block content %}

<div class="story" style="margin-top: 5%;">

    <div class="row justify-content-center">
        <h2>Our Story</h2>
    </div>

    <div class="row justify-content-center" style="margin-top: 2%;">
        <div class="col-9" style="text-align: center;">
            <p>I.P.C Tabernacle begins on January 01, 2016 as an evening fellowship in English for college students and the working class people from different states and language groups working in Bhubaneshwar. It started with a handful of people, but gradually, the number of families and students increased. Later Odia and Hindi was also added as the medium of worship along with English. From the year 2020 onwards, the time of Worship Service was changed to morning instead of evening service. Now, it became a full fledged church with services like baptism, Lord Supper, Sunday School etc.
            </p>
        </div>
    </div>

</div>

<div class="story" style="margin-top: 3%;">

    <div class="row justify-content-center">
        <h2>About Bhubaneshwar- The Temple City of India</h2>
    </div>

    <div class="row justify-content-center" style="margin-top: 2%;">
        <div class="col-9" style="text-align: center;">
            <p>Bhubaneshwar is the capital city of Odisha and the ancient kingdom of Kalinga. It is the largest city of Odisha and one of the planned cities of India and one of the smart city. Bhubaneshwar is often referred to as a temple city of India due to its large number of ancient temples. It is a centre of economic, educational and cultural importance of East India. Bhubaneshwar has a population of around 9 lakhs. Bhubaneshwar is the educational hub of Eastern India with lot of professional colleges and many world class educational institutions. It is the centre of health, sports and IT. Bhubaneshwar has a branch of All India Institute of Medical Science (AIIMS) . This city is well connected by road, rail and air with rest of the major cities and states.</p>
        </div>
    </div>

</div>

<div class="story" style="margin-top: 3%;">

    <div class="row justify-content-center">
        <h2>About Incredible Odisha</h2>
    </div>

    <div class="row justify-content-center" style="margin-top: 2%;">
        <div class="col-9" style="text-align: center;">
            <p>Odisha occupies a prominent place among the states of India. It is bound by the states of West Bengal in the North East, Jharkhand on the North and Chhattisgarh on the West, Andhra Pradesh on the south and Bay of Bengal on the East. This state was previously known as Orissa and it came to existence on April 1, 1936. Odisha is divided into 30 districts and total number of villages are 51,313. The population of Odisha is around 4.5 crore. Major cities are Bhubaneshwar, Cuttack, Puri, Rourkela, Sambalpur, Berhampur and Balasore. There are 62 people groups in Odisha. Odia is the state language.  As per the census of 2011, Odisha’s literacy rate is 72.9%.  </p>
        </div>
    </div>

</div>


<style>
    .story h2{
        font-size: 3vw;
    }

    .story p{
        font-size: 1.5vw;
    }

    .story{
        background-color: #ebf6fb;
        padding: 2%;
    }
</style>

{% endblock %}