{% extends 'base.html' %}
{% load static %}

{% block content %}

<div class="story" style="margin-top: 5%;">

    <div class="row justify-content-center">
        <h2>Our Story</h2>
    </div>

    <div class="row justify-content-center" style="margin-top: 2%;">
        <div class="col-9" style="text-align: center;">
            <p>Pr. John Mathai, originally from Kerala, India, completed his graduation from the University of Kerala, and done his theological studies from Hebron Bible College, Kumbanad and Martin Luther University, Meghalaya. Working as a missionary and a pastor in Odisha since April 1994. Involved in teaching, preaching and church planting ministries among the different people groups. Wife Ligi and have two children Joel and Joanna.</p>
        </div>
    </div>

</div>

<div class="story" style="margin-top: 3%;">

    <div class="row justify-content-center">
        <h2>About Bhubaneshwar- The Temple City of India</h2>
    </div>

    <div class="row justify-content-center" style="margin-top: 2%;">
        <div class="col-9" style="text-align: center;">
            <p>Bhubaneshwar is the capital city of Odisha and the ancient kingdom of Kalinga. It is the largest city of Odisha and one of the planned cities of India and one of the smart city. Bhubaneshwar is often referred to as a temple city of India due to its large number of ancient temples. It is a centre of economic, educational and cultural importance of East India. Bhubaneshwar has a population of around 9 lakhs. Bhubaneshwar is the educational hub of Eastern India with lot of professional colleges and many world class educational institutions. It is the centre of health, sports and IT. Bhubaneshwar has a branch of All India Institute of Medical Science (AIIMS) . This city is well connected by road, rail and air with rest of the major cities and states.</p>
        </div>
    </div>

</div>

<div class="story" style="margin-top: 3%;">

    <div class="row justify-content-center">
        <h2>About Incredible Odisha</h2>
    </div>

    <div class="row justify-content-center" style="margin-top: 2%;">
        <div class="col-9" style="text-align: center;">
            <p>Odisha occupies a prominent place among the states of India. It is bound by the states of West Bengal in the North East, Jharkhand on the North and Chhattisgarh on the West, Andhra Pradesh on the south and Bay of Bengal on the East. This state was previously known as Orissa and it came to existence on April 1, 1936. Odisha is divided into 30 districts and total number of villages are 51,313. The population of Odisha is around 4.5 crore. Major cities are Bhubaneshwar, Cuttack, Puri, Rourkela, Sambalpur, Berhampur and Balasore. There are 62 people groups in Odisha. Odia is the state language.  As per the census of 2011, Odisha’s literacy rate is 72.9%.  </p>
        </div>
    </div>

</div>


<style>
    .story h2{
        font-size: 3vw;
    }

    .story p{
        font-size: 1.5vw;
    }
</style>

{% endblock %}