{% extends "base.html" %}
{% load static %}


{% block content %}

<div class="row justify-content-center" style="margin-top: 2%;">

    <div class="col-10">

        <figure style="text-align: center;">
            <img src="{% static 'disciple1.JPG'%}" width="60%">

            <figcaption style="margin-top: 2.5%;">
                <h3>Leadership is voluntary but discipleship is mandatory. We conduct discipleship centres in different locations to equip local youths for witnessing Christ and studying the Word in the local language through short- term- courses.</h3>
            </figcaption>
        </figure>

    </div>
</div>





{% endblock %}