{% extends "base.html" %}
{% load static %}


{% block content %}

<div class="row justify-content-center" style="margin-top: 2%;">

    <div class="col-10">

        <figure style="text-align: center;">
            <img src="{% static 'tailoring1.JPG'%}" width="60%">

            <figcaption style="margin-top: 2.5%;">
                <h3>As a part of the skill development, we train young girls in tailoring. Many girls and women in village area successfully completed their course and are now able to stand on their feet. This became a source of livelihood for many rural women.</h3>
            </figcaption>
        </figure>

    </div>
</div>





{% endblock %}