{% extends "base.html" %}
{% load static %}


{% block content %}

<div class="row justify-content-center" style="margin-top: 2%;">

    <div class="col-10">

        <figure style="text-align: center;">
            <img src="{% static 'tuition.JPG'%}" width="60%">

            <figcaption style="margin-top: 2.5%;">
                <h3>We provide free education to slum and village children in few selected places along with regular classes we conduct many extra-curricular activities for the growth and development of the children.</h3>
            </figcaption>
        </figure>

    </div>
</div>




{% endblock %}