@media only screen and (orientation: portrait) {

    .nav-item{
        font-size: 3vw;
    }


    .fa {
        font-size: 5vw;
        width: 8vw;
        height: 8vw;
        text-align: center;
        margin: 2%;
        border-radius: 50%;
        background-color: rgb(214, 211, 211);
        color: rgb(0, 0, 0);
        transition-duration: 1s;
        text-decoration: none;
    }
    
    .fa:hover{
        margin-top: -1vh;
        color: black;
        text-decoration: none;
    }
}